<div class="column width-<%=column.columns%>" style="flex-grow: <%=column.width%>">
	<div class="column-header">
		<h2><%=column%></h2>
		<% if column.filter_button %>
			<svg class="filter-button"><use xlink:href="#filter-apply" /></svg>
		<% end %>
	</div>
	<%if column.can_be_grouped? %>
		<% column.groups.each do |group| %>
			<div class="project-wrapper">
				<h3><%=column.group_name_for(group) %></h3>
				<div class="project-group">
					<% column.projects(group).each do |p| %>
						<%= render_project(p) %>
					<% end %>
				</div>
			</div>
		<% end %>
	<% else %>
		<% column.projects.each do |p| %>
			<%= render_project(p) %>
		<% end %>
	<% end %>
</div>